<% visitor = notification.visitor %>
<% visited = notification.visited %>
<div>
 <%= notification.created_at.strftime('%Y/%m/%d %H:%M') %>
 <%= link_to user_path(visitor) do %>
     <%= visitor.email %>さんが
 <% end %>
 <% if notification.action=='dm' %>
    あなたにDMを送りました
 <% end %>
</div>